<h1>Showing selected article with id <%= render plain: params[:id].inspect %></h1>

<p>Article <%= @article.id %></p>
<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>
<p>Created at: <%= @article.created_at %></p>